* {
  box-sizing: border-box;
}

body {
  padding: 10px;

  font-family: Quicksand;
  color: #252525;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header .header-controls > * {
  margin: 10px;
}
