* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  color: #252525;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header .header-controls > * {
  margin: 10px;
}

.info-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
